.error, input[type="submit"] {
	float: left;
	clear: both;
}

.error {
	display: block;
	color: red;
	margin-left: 180px;
}

label, input[type="email"], [type="password"] {
	float: left;
	width: 150px;
	margin: 10px;
}

label {
	clear: left;
	text-align: right;
}

input {
	clear: right;
	text-align: left;
}

input[type="submit"] {
	margin-left: 180px;
	margin-top: 10px;
}